body {
    background-repeat: no-repeat;
    background-position: left center;
}
p {
    color: #4e7555;
    font-size:20px;
}
h1 {
    color:#12431b;
}
body {
    Background-color: #395a4b;
}
a {
    color:#26312b;
}
h3 {
    color:#25893c;
}